form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 450px;
  margin-right:450px ;
  
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  /*make submit in center*/
  text-align: center;
}

input[type=submit]:hover {
  background-color: #26b12d;
  

}
input[type=email], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
}